*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 62.5%;
}

body{
    background-color: rgb(55, 55, 55);
    padding-bottom: 2rem;
}

.app{
    height: 100vh;   
}

.frase{
    font-family: 'Montserrat', 'Segoe UI', Arial, sans-serif;
    text-align: center;
    color: #adadac;
    font-size: 2.5rem;
    margin: 16rem auto 4rem;
    
    width: 90%;
    border: 1px solid #cfa123;
    padding: 2rem;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 1rem;
    max-width: 60rem;
}

.servicos, .video{
    text-align: justify;
    margin:  auto;
    margin-top: 12rem;
    font-size: 1.8rem;
    width: 90%;
    max-width: 60rem;
    color: aliceblue;
    font-style: italic;
    border: 1px solid #cfa123;
    padding: 2rem;
    background: rgba(0, 0, 0, 0.5); 
    border-radius: 1rem;
    box-shadow: 0 1rem 1rem black;

}

main{
    margin-top: 2rem;
    width: 100%;
    margin-bottom: 10rem;

}

h1{
    font-family: 'Bungee', sans-serif;
    text-align: center;
    padding-top: 4rem;
    color: white;
    font-size: 30px;
}

ul li{
    background-color: black;
    font-size: 2rem;
    color: #adadac;
    margin: 0.5rem 0;
    border: #cfa123 1px solid;
    padding: 1rem;
    border-radius: 1rem;
}

.imagens{
    background: rgba(0, 0, 0, 0.5);
    border-radius: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    padding: 4rem;
    gap: 4rem;
    margin: 4rem auto;  
    box-shadow: 0 1rem 1rem black;
    border: 0.5px solid #cfa123;
    max-width: 60rem;
}

figure img{ 
    box-shadow: 0 1rem 1rem black;
    width: 100%;
    border-radius: 1rem;
    border: none;
}

figure img:hover{
    box-shadow: 0 1rem 2rem #cfa123;
    width: 107%;
    margin-left: -1rem;
    transition: .5s;
}

.servicos ul{
    text-align: center;
    list-style: none;
}

.servicos{
    font-family: 'Montserrat', 'Segoe UI', Arial, sans-serif;
    margin-top: 10px;
    border: none;
    color: #cfa123;
}

.video{
    text-align: center;

}

video{
    border-radius: 10px;
}

.redes-sociais{
    width: 100%;
    text-align: center;
    position: fixed;
    bottom: 0;
    z-index: 2;

    display: flex;
    width: 100%;
    background: rgba(0, 0, 0, 0.8); 
    padding: 0.2rem;
    text-align: center;
    height: 8rem;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

ion-icon{
    color: #cfa123;
    font-size: 3.5rem;
}

.links{
    width: 5rem;
    height: 5rem;
}

.header{
    z-index: 1;
    font-family: 'Bungee', sans-serif;
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    /*background: linear-gradient(
    360deg, 
  rgba(0, 0, 0, 0.856) 50%, 
  #cfa123 100%
    );*/
    color: #cfa123;
    margin: 0;
    padding: 0.2rem;
    text-align: center;
    font-size: 24px;
    position: fixed;
    top: 0;
    height: 8rem;
    align-items: center;
    gap: 0;
}

.header h1{
    margin: auto;
    padding: 1rem;
    color: #cfa123;
}

.header ion-icon{
    font-size: 3.5rem;
    margin: auto;
    margin: 0 0 0 4rem;
}

@media(max-width: 700px) {
    .imagens{
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        padding: 2rem;
        margin: 2rem;  
        gap: 1rem;
        border-radius: 1rem;
    }
    img{
        width: 100%;
        margin-bottom: 1rem;
    }

}

footer{
    height: 15rem;
    text-align: center;
    color: white;
    font-size: 10px;
    padding: 2rem 3rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: rgba(0, 0, 0, 0.8);
}

.imagens img {
    opacity: 1;
    transform: translateY(20px);
    transition: opacity 2s ease-out, transform 2s ease-out;
}

@keyframes jump {
    0%, 100% {
      transform: translateY(10px);
      transform: translateX(0);
    }
    50% {
      transform: translateY(10px);
      transform: translateX(10);
    }
}
  
.btn-agendar{
    font-family: 'Montserrat', 'Segoe UI', Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #cfa123;
    font-size: 16px;
    width: auto;
    height: 50px;
    z-index: 1;
    padding: 5px 20px;
    position: fixed;
    bottom: 15rem;
    right: 3rem;
    border-radius: 25px;
    animation: jump 5s infinite;
    font-weight: bold;
    opacity: 0.9;
    animation: jump 0.6s ease-in-out infinite;
  }

.btn-agendar a{
    text-decoration: none;
    text-align: center;
    color: white; 














































































































































































































































































    
    
}